#################################
# Archivos Generados por Unreal Engine #
#################################
/[Bb]uild
/[Bb]uilds
/Binaries
/DerivedDataCache
/Intermediate
/Saved

#################################
# Archivos Generados por Visual Studio #
#################################
# Directorio de caché
.vs
# Archivos específicos del usuario
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# Archivos de caché de CPP
*.VC.db
*.opendb
*.opensdf
*.sdf
# Archivos de solución
*.sln
# Directorio de caché de VSCode
.vscode
# Archivos de historial de VSCode
**/.history

#################################
# Archivos Generados Misceláneos #
#################################
# AÑADIR SEGÚN SEA NECESARIO